/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
    margin: 0;
    background-color: #f9fafb !important;
}

.fruitifyText {
    color: #32733E;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 2.2rem;
}

.titleText {
    font-weight: bold;
    font-size: 1.5rem;
}

.subTitleText {
    font-weight: bold;
    font-size: 1.1rem;
}

.hintText {
    font-weight: 300;
    color: rgb(170, 170, 170);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }